<%- include("../partials/head") %>

  <%- include("../partials/forms/heading", { title: message }) %>

  <div class="mt-1 text-xs">
    <%if (locals.error) { %>
      <div class="font-medium text-xs sm:text-sm text-red-700 mt-4">
        <%= locals.error %>
      </div>
      <% } %>
  </div>

<%- include("../partials/footer") %>