<%- include('../partials/head') %>

  <h1 class="font-medium text-xs sm:text-sm text-gray-600 mt-4">
    <%= message %>
  </h1>
  <div class="mt-1">
    <%if (locals.error) { %>
      <div class="font-medium text-xs sm:text-sm text-red-900 mt-4">
        <%= locals.error %>
      </div>
      <% } %>
  </div>

  <%- include('../partials/footer') %>