<%- include("../partials/head") %>

  <%- include("../partials/forms/heading", { title: message }) %>

  <div class="mt-1 text-xs">
    <%= subMessage %>
  </div>

<%- include("../partials/footer") %>