<!-- submit:accept -->
<div class="flex flex-row gap-6 mt-4">
  <div class="basis-1/2">
    <%- include("../base/button", {
      fieldType:"submit",
      fieldId:"accept",
      fieldValue: "Allow access",
    }) %>
  </div>
  <!-- submit:denyAccess -->
  <div class="basis-1/2">
    <%- include("../base/button", {
      fieldType:"submit",
      fieldId:"reject",
      fieldValue: "Deny access",
    }) %>
  </div>
</div>
