<div class="flex flex-row gap-6 mt-4">
  <div class="basis-1/2">
  </div>
  <div class="basis-1/2">
    <%- include("../base/button", {
      fieldType:"submit",
      fieldId:"confirm",
      fieldValue: "Confirm",
    }) %>
  </div>
</div>
