<div class="flex flex-row gap-6 mt-4">
  <div class="basis-1/2">
    <input
      class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-brandBlueDark hover:bg-brandBlue rounded-lg py-2 w-full transition duration-150 ease-in mr-2 uppercase"
      type="submit" id="accept" name="submit" value="Log in" />
    </input>
  </div>
  <!-- submit:denyAccess -->
  <div class="basis-1/2">
    <input
      class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-brandBlueDark hover:bg-brandBlue rounded-lg py-2 w-full transition duration-150 ease-in uppercase"
      type="submit" id="reject" name="submit" value="Deny access" />
    </input>
  </div>
</div>
