<!-- submit:yes -->
<div class="flex flex-row gap-6 mt-4">
  <div class="basis-1/2">
    <%- include("../base/button", {
      fieldType:"submit",
      fieldId:"accept",
      fieldValue: "Yes",
    }) %>
  </div>
  <!-- submit:no -->
  <div class="basis-1/2">
    <%- include("../base/button", {
      fieldType:"submit",
      fieldId:"reject",
      fieldValue: "No",
    }) %>
  </div>
</div>
